BASE_URL_JAKARTA=your_api_url_here
BASE_URL_NOMINATIM=your_nominatim_url_here
GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here

# Supabase configuration
HOST=your_supabase_host_here
PORT=your_supabase_port_here
DATABASE=your_supabase_database_name_here
USER=your_supabase_user_here
PASSWORD=your_supabase_user_here